.page-header
  %h1
    = t ".enter"
%p
  Если у Вас еще нет учетной записи, то зарегистрироваться вы можете здесь:
  = link_to t(".register"), new_user_path, class: "btn"

= render "form", user: current_user, url: session_path, submit_message: t(".login")
